:root{
    --rosa:#EB339B;
    --branco: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
   min-width: 320px;
   

}
.home{
    display: flex;
}
.logo{
    height: 180px;
     margin-left: 50%;
}
.logo2{
    display: none;
}
.menu-container{
    height: 80px;
    background: #ffffff;
    color: var(--rosa);
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 40px;   
}
.nav{
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.btn{
    padding: 10px 20px;
    font-family:'Roboto';
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    
}
.menu{
    display: none;
}
.lista{
    background: #ffffff;
    color: #EB339B;
    border: 2px solid #EB339B;
    border-radius: 4px;
}
.cadastro{
    background: #EB339B;
    color: #ffffff;
    border-radius: 4px;
    border: 2px solid #EB339B;
}
@media(max-width:767px){
    .menu-container{
        height: 120px;
        margin:none;
        
    }
    .logo{
        margin-left: 0;
        display: flex;
    }
    
   .front-text{
    font-size: 32px;
    flex-shrink: 2;
   }
   .minor-text{
    font-size: 24px;
   }
   .menu{
    display: flex;
    font-family: 'Montserrat';
   }
  
    .icone-menu{
        border-top: 0.125rem solid;
        width: 1.25rem;
        position: relative;
        left: 5%;
        
    }
    .icone-menu::before,
    .icone-menu::after{
        content:  " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background-color: currentColor;
        margin-top: 0.3125rem;
    }
    .nav{
        display: none;
        background-color: #ffffff;
        position: absolute;
        top: 13%;
        left: 0;
        width: 100%;
    }
    .nav a{
        width: 100%;
    }
    .active{
        display: flex;
        transition: 1s;
        font-family: 'Montserrat';
    }
    
}
