*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #F5F5F5;
    display: flexbox;
}
.home{
    display: flexbox;
}
.logo{
    height: 180px;
     margin-left: 50%;
}
.logo2{
    display: none;
}
.menu-container{
    height: 80px;
    background: #ffffff;
    color: #EB339B;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 40px;   
}
.nav{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10%;
    
    
}
.btn{
    padding: 10px 20px;
    font-family:'Roboto';
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    
}
.lista{
    background: #ffffff;
    color: #EB339B;
    border: 2px solid #EB339B;
    border-radius: 4px;
}
.cadastro{
    background: #EB339B;
    color: #ffffff;
    border-radius: 4px;
    border: 2px solid #EB339B;
}
.container{
    display: block;
    margin-left: 25%;
}
.front-text{
    font-family: 'Montserrat';
    font-size: 64px;
    margin-top: 5%;
}
.minor-text{
    margin-top: 1%;
    font-size: 48px;
    color: rgba(17, 17, 17, 0.48);
}


@media(max-width:768px){
    .menu-container{
        height: 200px;
        
    }

    .logo{
        width: 20%;
        display: none;
    }
   .front-text{
    font-size: 32px;
    flex-shrink: 2;
   }
   .minor-text{
    font-size: 24px;
   }
    
}
