.botao {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 46.5%;
    height: 44px;
    border: solid 2px #EB339B;
    border-radius: 3px;
    cursor: pointer;
    color: #EB339B;
}

.botao:hover {
    background-color: #9F9F9F;
    color: #fff;
}

.botao:active {
    background-color: #EB339B;
}